
    {% extends "layout.html" %}
   
    {% block content %}
    <h2>New User Registration</h2>

    <div class="container">
        <form name="register" action="" method="post" novalidate>
            <fieldset class="form-group">
                <legend>{{ title }}</legend>
                {{ form.hidden_tag() }}

                <p>
                    {{ form.email.label }}
                    {{ form.email }}
                    {% for message in form.email.errors %}
                        <span class="error-message">{{message}}</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}
                    {{ form.password }}
                    {% for message in form.password.errors %}
                        <span class="error-message">{{message}}</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password_confirm.label }}
                    {{ form.password_confirm }}
                    {% for message in form.password_confirm.errors %}
                        <span class="error-message">{{message}}</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.first_name.label }}
                    {{ form.first_name }}
                    {% for message in form.first_name.errors %}
                        <span class="error-message">{{message}}</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.last_name.label }}
                    {{ form.last_name }}
                    {% for message in form.last_name.errors %}
                        <span class="error-message">{{message}}</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.submit() }}
                </p>
            </fieldset>
        </form>
    </div>
    {% endblock %}